

/* Button 7 */
.btn-7 {
	background: #d61f1f !important;
	color: #eaeaea;
	border-radius: 7px;
	box-shadow: 0 5px #9e1111;
	margin-top:57px;

	font-family:Arial, Helvetica, sans-serif !important;
	font-size: 14px;
	cursor: pointer;
	padding: 25px 60px;
	display: inline-block;
	text-transform: uppercase;
	font-weight: bold;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
.btn-7:hover{color:#eaeaea !important}

.btn-7:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
} 

.btn-7:before {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	padding-left:5px;
	position: relative;
	-webkit-font-smoothing: antialiased;
}

.icon-envelope:before {
	content: "\e000";
	
}


.icon-remove:before {
	content: "\e00f";
}


.bh-icon-smiley:before {
	content: "\e001";
	color:#fff !important;
	
	
}

.bh-icon-sad:before {
	content: "\e002";
	
}

.icon-thumbs-down:before {
    content: url(../images/man-standing.png);
	padding-left:15px;
	margin-top:-3px

}

.icon-thumbs-downa:before {
    content: url(../images/man-standing-mob.png);
	padding-left:4px;
	margin-top:0px

}
/* Button 7h */

.btn-7h span {
	display: inline-block;
	width: 100%;
	
}

.btn-7h:before {
	position: absolute;
	left: 0;
	width: 20%;
	
	font-size: 160%;
	line-height: 0.8;
	color: #0a833d;
}

/* Success and error */


.btn-error {
	color: transparent !important;
}


.btn-error:hover {
	color: transparent !important;
}

.btn-error:after {
	z-index: 1;
	color: #fff;
	left: 25%;
}

.btn-errora {
	color: transparent !important;
}


.btn-errora:hover {
	color: transparent !important;
}

.btn-errora:after {
	z-index: 1;
	color: #fff;
	left: 25%;
}

.btn-success:before {
	content: "\e001";
}

.btn-success:after {
	content: "Success!";
	-webkit-animation: moveUp 0.5s;
	-moz-animation: moveUp 0.5s;
	animation: moveUp 0.5s;
}

@-webkit-keyframes moveUp {
	0% {
		-webkit-transform: translateY(50%);
		opacity: 0;
	}
	100% { 
		opacity: 1;
		-webkit-transform: translateY(0);
	}
}

@-moz-keyframes moveUp {
	0% {
		-moz-transform: translateY(50%);
		opacity: 0;
	}
	100% { 
		opacity: 1;
		-moz-transform: translateY(0);
	}
}

@keyframes moveUp {
	0% {
		transform: translateY(50%);
		opacity: 0;
	}
	100% { 
		opacity: 1;
		transform: translateY(0);
	}
}

.btn-error {
	-webkit-animation: shake 0.5s;
	-moz-animation: shake 0.5s;
	animation: shake 0.5s;
	
}

.btn-errora {
	-webkit-animation: shake 0.5s;
	-moz-animation: shake 0.5s;
	animation: shake 0.5s;
	
}

/* From Dan Eden's animate.css: http://daneden.me/animate/ */
@-webkit-keyframes shake {
	0%, 100% {-webkit-transform: translateX(0);}
	10%, 30%, 50%, 70%, 90% {-webkit-transform: translateX(-10px);}
	20%, 40%, 60%, 80% {-webkit-transform: translateX(10px);}
}

@-moz-keyframes shake {
	0%, 100% {-moz-transform: translateX(0);}
	10%, 30%, 50%, 70%, 90% {-moz-transform: translateX(-10px);}
	20%, 40%, 60%, 80% {-moz-transform: translateX(10px);}
}

@keyframes shake {
	0%, 100% {transform: translateX(0);}
	10%, 30%, 50%, 70%, 90% {transform: translateX(-10px);}
	20%, 40%, 60%, 80% {transform: translateX(10px);}
}

.btn-error:before {
 content: url(../images/man-standing11.png);
 	padding-left:8px;
	margin-top:-3px
}

.btn-errora:before {
 content: url(../images/man-standing11-mob.png);
 	padding-left:4px;
	margin-top:0px
}


.btn-error:after {
	content:"I don't Agree";
	color:#700000;
	-webkit-animation: scaleFromUp 0.5s;
	-moz-animation: scaleFromUp 0.5s;
	animation: scaleFromUp 0.5s;
}
.btn-errora:after {
	content:"I don't Agree";
	color:#700000;
	-webkit-animation: scaleFromUp 0.5s;
	-moz-animation: scaleFromUp 0.5s;
	animation: scaleFromUp 0.5s;
}


@-webkit-keyframes scaleFromUp {
	0% {
		-webkit-transform: scale(0);
		opacity: 0;
	}
	100% { 
		opacity: 1;
		-webkit-transform: scale(1);
	}
}

@-moz-keyframes scaleFromUp {
	0% {
		-moz-transform: scale(0);
		opacity: 0;
	}
	100% { 
		opacity: 1;
		-moz-transform: scale(1);
	}
}

@keyframes scaleFromUp {
	0% {
		transform: scale(0);
		opacity: 0;
	}
	100% { 
		opacity: 1;
		transform: scale(1);
	}
}



/* Special trash effect */
.trash-effect {
	position: relative;

	margin: 0px;
} 

.trash-effect1 {
	position: relative;

	margin: 0px;
} 

.trash-effect .icon-file {
	font-size: 30px;
	position: absolute;
	width: 50px;
	height: 50px;
	left:23%;
	top: 0%;
	margin:0px;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	-webkit-transform: translateX(80px) translateY(10px) scale(1);
	-moz-transform: translateX(80px) translateY(10px) scale(1);
	-ms-transform: translateX(80px) translateY(10px) scale(1);
	transform: translateX(80px) translateY(10px) scale(1);
}

.trash-effect1 .icon-file1 {
	font-size: 30px;
	position: absolute;
	width: 22px;
	height: 30px;
	left:-54px;
	text-align:center;
	top: 3px;
	margin:0 auto;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	-webkit-transform: translateX(80px) translateY(10px) scale(1);
	-moz-transform: translateX(80px) translateY(10px) scale(1);
	-ms-transform: translateX(80px) translateY(10px) scale(1);
	transform: translateX(80px) translateY(10px) scale(1);
}

.trash-effect .hand {
	font-size: 30px;
	position: absolute;
	width: 50px;
	height: 50px;
	left:0%;
	top: 0%;
	margin:0px;
		-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	transition: all 0.2s ease;
	-webkit-transform: translateX(40px) translateY(20px) scale(1);
	-moz-transform: translateX(40px) translateY(20px) scale(1);
	-ms-transform: translateX(40px) translateY(20px) scale(1);
	transform: translateX(40px) translateY(20px) scale(1);
}

.trash-effect.trash-effect-active .hand
{-webkit-transform: translateX(1px) translateY(40px) scale(1);
	-moz-transform: translateX(1px) translateY(40px) scale(1);
	-ms-transform: translateX(1px) translateY(40px) scale(1);
	transform: translateX(1px) translateY(40px) scale(1);
	}

.trash-effect.trash-effect-active .icon-file {
	-webkit-transform: translateX(80px) translateY(40px) scale(0);
	-moz-transform: translateX(80px) translateY(40px) scale(0);
	-ms-transform: translateX(80px) translateY(40px) scale(0);
	transform: translateX(80px) translateY(40px) scale(0);
}

.trash-effect1.trash-effect-active1 .icon-file1 {
	-webkit-transform: translateX(80px) translateY(40px) scale(0);
	-moz-transform: translateX(80px) translateY(40px) scale(0);
	-ms-transform: translateX(80px) translateY(40px) scale(0);
	transform: translateX(80px) translateY(40px) scale(0);
}

/* Button 7i */
.btn-7i {
	box-shadow: none;
	border-radius: 0 0 7px 7px;
	padding:41px 46px;
	border:none;
	margin-top:60px;
	background:url(../images/vote-box.png) no-repeat;
	outline:none
}

.btn-7i:before {
	line-height: 45px;
}

.btn-7i:after {
	height: 11px; /* should be 10px but in Chrome Version 34.0.1847.131 there's a gap because of the transform of the button */
	width: 100%;
		background:url(../images/vote-box.png) no-repeat;
	border-radius: 7px 7px 0 0;
	left: 0;
	top: -10px;
	z-index: 1;
	-webkit-transform-origin: 0 100%;
	-moz-transform-origin: 0 100%;
	-ms-transform-origin: 0 100%;
	transform-origin: 0 100%;
}


/* Button 7i1 */
.btn-7i1 {
	box-shadow: none;
	border-radius: 0 0 7px 7px;
	padding:0px;
	border:none;
	margin-top:60px;
	width:50px;
	height:42px;
	background:url(../images/vote-box-mob.png) no-repeat;
	outline:none
}

.btn-7i1:before {
	line-height: 45px;
}

.btn-7i1:after {
	height: 11px; /* should be 10px but in Chrome Version 34.0.1847.131 there's a gap because of the transform of the button */
	width: 100%;
		background:url(../images/vote-box-mob.png) no-repeat;
	border-radius: 7px 7px 0 0;
	left: 0;
	top: -10px;
	z-index: 1;
	-webkit-transform-origin: 0 100%;
	-moz-transform-origin: 0 100%;
	-ms-transform-origin: 0 100%;
	transform-origin: 0 100%;
}


.trash-effect-active .btn-7i:after .btn-7i1:after {
	-webkit-animation: openTrash 0.5s;
	-moz-animation: openTrash 0.5s;
	animation: openTrash 0.5s;
}

.trash-effect-active1 .btn-7i:after .btn-7i1:after {
	-webkit-animation: openTrash 0.5s;
	-moz-animation: openTrash 0.5s;
	animation: openTrash 0.5s;
}


@-webkit-keyframes openTrash {
	50% {
		-webkit-transform: rotate(-35deg);
	}
	100% { 
		-webkit-transform: rotate(0deg);
	}
}

@-moz-keyframes openTrash {
	50% {
		-moz-transform: rotate(-35deg);
	}
	100% { 
		-moz-transform: rotate(0deg);
	}
}

@keyframes openTrash {
	50% {
		transform: rotate(-35deg);
	}
	100% { 
		transform: rotate(0deg);
	}
}


.noeffect_vote{background:url(../images/vote-noeffect.png) no-repeat; width:90px; height:133px; text-align:center; margin-top:10px; border:none; outline:none}
.noeffect_dissent{background:url(../images/dissent-btn.png) no-repeat; width:182px; height:76px; text-align:center; margin-top:10px; border:none; outline:none}

.noeffect_vote_mob{background:url(../images/vote-noeffect-mob.png) no-repeat; width:50px; height:74px; text-align:center; margin-top:10px; border:none; outline:none}
.noeffect_dissent_mob{background:url(../images/dissent-btn-mob.png) no-repeat; width:90px; height:38px; text-align:center; margin-top:50px; border:none; outline:none}